@import "header";

$primary:#9356DC;
$secondary:#FF79DA;
$third: #99E2D0;


*{
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
}

section{
    margin-top: 3px;
    text-align: center;
    background-color: lighten($color: gray, $amount: 45%);
        input{
            width: 100%;
            background-color: lighten($color: lightgray, $amount: 5%);
            border: 0px;
            height: 42px;
            font-size: 16px;
            color: black;
            text-align: center;
        }
        div{
            padding-top: 30px;
            p{
                margin-top: 10px;
            }
            button{
                font-size: 18px;
                margin: 30px 0px 50px 0px;
                border-radius:25px;
                border:0px;
                background-image: linear-gradient($secondary, $primary);
                padding: 15px 20px;
                color: white;
                box-shadow: gray 0px 2px 5px;
                transition: all 0.75s ease-out;
                cursor: pointer;
                &:hover{
                   background-image: linear-gradient(lighten($secondary,10%), $primary);
                   box-shadow: black 0px 3px 5px;
                   cursor: pointer;
              }
        }
    }
}

nav{
    h1{
        margin-top: 35px;
        margin-left: 20px;
    }
    ul{
        margin-left: 20px;
        list-style: none;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    
}

@media screen and (min-width: 992px) {
    
}