@import '../variables';

header{
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 3px 0px;
    box-shadow: 0 1.5px 5px rgba(0,0,0,0.7);
    position: relative;
    .arrow{
        position: absolute;
        left: 10px;
        top: 16px;
        color: black;
        transition: background;
        &:hover{
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color:transparent;
            background-image:     linear-gradient(
                to right, $primary, $secondary, $tertiary);
              animation:slidebg 5s linear infinite;
              transition-delay: 3s;
              animation: rotate-center 0.3s linear infinite both 3s;
        }
    }
    div{
        width: 100%;
        text-align: center;
        h1{
            font-family: 'Shrikhand', cursive;
        }
    }
}