@import 'header';
@import 'footer';
@import '../animations';
@import '../variables';

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

*{
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

.plat-image{
    position: relative;
    z-index: 0;
    .plat{
        img{
            width: 100%;
            height: 250px;
            object-fit: cover;
            object-position: 50% 45%;
        }
    }
}

.menu{
    width: 100%;
    background-color: lighten(lightgray,10%);
    padding-top: 30px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    margin-top: -50px;
    padding-bottom: 50px;
    z-index: 1000;
    position: relative;
    .menu-plats{
        margin: auto;
        width: 95%;
        display: flex;
        justify-content: space-between;
        h1{
            font-family: 'Shrikhand', cursive;
            }
        }
    }


.hearts{
    font-size: 24px;
    position: relative;
    .fa-heart{
        transform: scale(0);
        transition-duration: 1s;
        background: linear-gradient(to left, $primary 0%,$secondary 100%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
       -webkit-text-fill-color:transparent;
       position: absolute;
       z-index: 1;
    }

    .fa-heart-o{
        transition-duration: 1s;
        transform: scale(1);
        right: 0;
    }

    &:hover .fa-heart {
        transform: scale(1);
    } 

    &:hover .fa-heart-o{
        transform: scale(0);
    }
}

.section-menu{
    width: 90%;
    margin: auto;
    margin-top: 30px;
    .titre-menu{
        text-transform: uppercase;
        z-index: 1;
        position: relative;
        &:before{
            content: "";
            width: 40px;
            border-bottom: 3px solid $tertiary;
            position: absolute;
            bottom: -5px;
        }
    }
}

@for $i from 1 to 12 {
    .m-#{$i}{
        animation: slide-bottom (250ms*$i) reverse forwards ;
    }
}

.nourriture{
    margin: 15px auto auto auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 8px lightgray;
    display: flex;
    height: 80px;
    cursor: pointer;
    &:hover{
        .check{
            animation: check-meal 1s ease;
            animation-fill-mode: forwards;
            text-align: center;
            height: 100%;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
        }
        .fa-check-circle{
            animation: rotate-90-ccw 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
        }
    }
    .description{
        flex-grow: 1;
        margin: 10px 0px 0px 10px;
        width: 160px;
        p, h3 {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
  }
    }
    b{
        align-self: flex-end;
        margin: 0px 10px 10px 0px;
    }
    .check{
        animation: check-meal-reverse 1s ease;
        background-color: $tertiary;
        height: 100%;
        width: 0;
        overflow: hidden;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        text-align: center;
        .fa-check-circle{
            color: white;
            vertical-align: middle;
            line-height: 80px;
            font-size: 24px;
        }
    }
}

.commande{
    margin: 50px;
    text-align: center;
    background-color: lighten($color: lightgray, $amount: 10%);
    button{
        font-size: 18px;
        border-radius:25px;
        border:0px;
        background-image: linear-gradient($secondary, $primary);
        padding: 15px 50px;
        color: white;
        box-shadow: gray 0px 2px 5px;
        transition: all 1s ease-out;
            &:hover{
            background-image: linear-gradient(lighten($secondary,10%), lighten($primary,10%));
            box-shadow: black 0px 3px 5px;
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 992px) {
    .menu{
        min-height: 676px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .section-menu{
        width: 30%;
    }


    .commande{
        width: 100%;
        margin: 15px;
    }
}