header {
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 3px 0px;
  -webkit-box-shadow: 0 1.5px 5px rgba(0, 0, 0, 0.7);
          box-shadow: 0 1.5px 5px rgba(0, 0, 0, 0.7);
  position: relative;
}

header .arrow {
  position: absolute;
  left: 10px;
  top: 16px;
  color: black;
  -webkit-transition: background;
  transition: background;
}

header .arrow:hover {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#9356DC), color-stop(#FF79DA), to(#99E2D0));
  background-image: linear-gradient(to right, #9356DC, #FF79DA, #99E2D0);
  -webkit-animation: slidebg 5s linear infinite;
          animation: slidebg 5s linear infinite;
  -webkit-transition-delay: 3s;
          transition-delay: 3s;
  -webkit-animation: rotate-center 0.3s linear infinite both 3s;
          animation: rotate-center 0.3s linear infinite both 3s;
}

header div {
  width: 100%;
  text-align: center;
}

header div h1 {
  font-family: 'Shrikhand', cursive;
}

footer {
  width: 100%;
  background-color: #404040;
  padding-bottom: 30px;
}

footer h3 {
  color: white;
  padding-top: 30px;
  font-family: 'Shrikhand', cursive;
  font-weight: 100;
  margin-left: 20px;
}

footer .menu-footer {
  margin-top: 15px;
  list-style-type: none;
  color: white;
  margin-left: 20px;
}

footer .menu-footer li {
  margin: 5px;
}

footer .menu-footer li .important {
  margin-left: 10px;
}

footer .menu-footer li .important-2 {
  margin-left: 5px;
}

a {
  color: white;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes slidebg {
  to {
    background-position: 20vw;
  }
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

* {
  font-family: 'Roboto', sans-serif;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

.plat-image {
  position: relative;
  z-index: 0;
}

.plat-image .plat img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 45%;
     object-position: 50% 45%;
}

.menu {
  width: 100%;
  background-color: #ededed;
  padding-top: 30px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  margin-top: -50px;
  padding-bottom: 50px;
  z-index: 1000;
  position: relative;
}

.menu .menu-plats {
  margin: auto;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu .menu-plats h2 {
  font-family: 'Shrikhand', cursive;
}

.hearts {
  font-size: 24px;
  position: relative;
}

.hearts .fa-heart {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  background: -webkit-gradient(linear, right top, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to left, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  z-index: 1;
}

.hearts .fa-heart-o {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transform: scale(1);
          transform: scale(1);
  right: 0;
}

.hearts:hover .fa-heart {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.hearts:hover .fa-heart-o {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.section-menu {
  width: 90%;
  margin: auto;
  margin-top: 30px;
}

.section-menu .titre-menu {
  text-transform: uppercase;
  z-index: 1;
  position: relative;
}

.section-menu .titre-menu:before {
  content: "";
  width: 40px;
  border-bottom: 3px solid #99E2D0;
  position: absolute;
  bottom: -5px;
}

.m-1 {
  animation: slide-bottom 250ms reverse;
}

.m-2 {
  animation: slide-bottom 500ms reverse;
}

.m-3 {
  animation: slide-bottom 750ms reverse;
}

.m-4 {
  animation: slide-bottom 1000ms reverse;
}

.m-5 {
  animation: slide-bottom 1250ms reverse;
}

.m-6 {
  animation: slide-bottom 1500ms reverse;
}

.m-7 {
  animation: slide-bottom 1750ms reverse;
}

.m-8 {
  animation: slide-bottom 2000ms reverse;
}

.m-9 {
  animation: slide-bottom 2250ms reverse;
}

.m-10 {
  animation: slide-bottom 2500ms reverse;
}

.m-11 {
  animation: slide-bottom 2750ms reverse;
}

.nourriture {
  margin: 15px auto auto auto;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 8px lightgray;
          box-shadow: 5px 5px 8px lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  overflow: hidden;
  cursor: pointer;
}

.nourriture:hover .check {
  width: 70px;
  text-align: center;
  height: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.nourriture:hover .fa-check-circle {
  -webkit-animation: rotate-center 1s ease-in-out both;
          animation: rotate-center 1s ease-in-out both;
}

.nourriture .description {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 10px 0px 0px 10px;
  width: 160px;
}

.nourriture .description p, .nourriture .description h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nourriture b {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0px 10px 10px 0px;
}

.nourriture .check {
  background-color: #99E2D0;
  height: 100%;
  width: 0px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  text-align: center;
}

.nourriture .check .fa-check-circle {
  color: white;
  vertical-align: middle;
  line-height: 80px;
  font-size: 24px;
}

.commande {
  margin: 50px;
  text-align: center;
  background-color: #ededed;
}

.commande button {
  font-size: 18px;
  border-radius: 25px;
  border: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  padding: 15px 50px;
  color: white;
  -webkit-box-shadow: gray 0px 2px 5px;
          box-shadow: gray 0px 2px 5px;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.commande button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fface8), to(#ae80e5));
  background-image: linear-gradient(#fface8, #ae80e5);
  -webkit-box-shadow: black 0px 3px 5px;
          box-shadow: black 0px 3px 5px;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .menu {
    min-height: 676px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-menu {
    width: 30%;
  }
  .commande {
    width: 100%;
    margin: 15px;
  }
}
/*# sourceMappingURL=secondaires.css.map */